<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test1">
    <classes>
      <class name="com.training.sanity.tests.LoginTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="com.training.sanity.tests.ELTC_007_addcourse"/>
    </classes>
  </test> <!-- Test -->
 <test name="Test3">
    <classes>
      <class name="com.training.sanity.tests.ELTC_008_coursedescription"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test4">
    <classes>
      <class name="com.training.sanity.tests.ELTC_009_unsubscribe"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test5">
    <classes>
      <class name="com.training.sanity.tests.ELTC_010_listofcourse"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
